<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo" preserve-order="true">

    <test name="Demo">
        <packages>
            <package name="autoframework.demo"></package>
        </packages>
    </test>

    <!--报表监听器：reportng渲染报表用的-->
    <listeners>
    </listeners>

</suite>